html {
    box-sizing: border-box;
    --colorMenu : #1d1d27;
    --duration: .7s;    
}

body{
    
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #ffb457;
    transition: background-color var(--duration);

}

.menu{
    margin: 0;
    display: flex;
    width: 800px;
    font-size: 20px;
    padding: 0 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--colorMenu);   
}

.item{
    
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 10px 0 15px;
    transition: transform var(--timeOut , var(--duration));    
}

.item::before{    
    content: "";
    z-index: -1;
    width: 80px;
    height:80px;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);    
}


.item.active {
    transform: translate3d(0, -15px , 0);
}

.item.active::before{
    
    transform: scale(1);
    background-color: var(--colorItem);

}

.icon{
    
    width: 50px;
    height: 50px;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
    
}

.item.active .icon {

    animation: offsetArray 1.5s reverse;
    
}

@keyframes offsetArray {

    100% {

        stroke-dashoffset: 400;

    }

}

.border{

    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--colorMenu);
    transition: transform var(--timeOut , var(--duration));
    
}

.svg-container {

    width: 0;
    height: 0;
}


